<% if @post.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="m-5">
  <h2 class="text-center">Your Post</h2>
  <div class ="card mx-auto" style="width: 25vw">
    <div class="card-body">
    <%= form_with(model: @post, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :post %>
        <%= form.text_area :body, :class => "form-control", :size => "20x5" %>
      </div>
      <%= form.submit 'Save Post', :class => "btn btn-outline-primary" %>
    <% end %>
    </div>
  </div>
</div>
