<% if @post.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:
    </p>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @post, local: true) do |form| %>
  <p>
    <%= form.label :post %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
