<h1 class="text-center">News Feed</h1>
<div class="text-center">
  <br>
<%= link_to '+', new_post_path, :class => "btn btn-outline-secondary btn-circle", :style => "padding-top: 2px", :id => "new_post" %>
<br><br>
</div>

<% @posts.each do |post| %>
<div class="card mx-auto" style="width: 25vw;">
  <div class="card-body">
    <p class="card-text"><%= simple_format(post.body) %></p>
    <h6 class="card-subtitle mb-2 text-muted"><%= User.find(post.user_id).username %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= time_calculation(post.created_at) %></h6>
      <div class="row">
        <div class="col-sm">
          <% post.likes.each do |like| %>
            <% if current_user.id == like.user_id %>
              <%= link_to "ðŸ‘ #{post.likes.count}", post_like_path(post, like), method: :delete, :class => "btn btn-light" %>
            <% else %>
            <%= link_to "ðŸ‘ #{post.likes.count unless post.likes.count == 0}", post_likes_path(post), method: :post, :class => "btn btn-outline-light" %>
            <% end %>
          <% end %>
        </div>
        <% if current_user.username == post.user.username %>
        <div class="col-sm" align="center">
          <%= link_to 'Update', edit_post_path(post), :class => "btn btn-outline-light" %>
        </div>
        <div class="col-sm" align="right">
          <%= link_to 'Delete', post_path(post), :class => "btn btn-outline-secondary",
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </div>
        <% else %>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <% end %>
    </div>
  </div>
</div>
<br><br>
<% end %>
