<h1 class="text-center">News Feed</h1>
<div class="text-center">
  <br>
<%= link_to '+', new_post_path, :class => "btn btn-outline-secondary btn-circle", :style => "padding-top: 2px", :id => "new_post" %>
<br><br>
</div>

<% @posts.each do |post| %>
<div class="card mx-auto" style="width: 25vw;">
  <div class="card-body">
    <p class="card-text"><%= simple_format(post.body) %></p>
    <h6 class="card-subtitle mb-2 text-muted"><%= User.find(post.user_id).username %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= time_calculation(post.created_at) %></h6>
    <% if current_user.username == post.user.username %>
    <%= link_to 'Update', edit_post_path(post), :class => "btn btn-outline-secondary" %>
    <%= link_to 'Delete', post_path(post), :class => "btn btn-outline-secondary",
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
<br><br>
<% end %>
