<h1> My Profile <h1>
  <%= current_user.username %>
  <%= image_tag current_user.gravatar_url, :class => "rounded"%>


  <% @posts.each do |post| %>
  <% if current_user.username == post.user.username %>
  <div class="card mx-auto" style="width: 25vw;">
    <div class="card-body">

      <p class="card-text"><%= simple_format(post.body) %></p>
      <h6 class="card-subtitle mb-2 text-muted"><%= User.find(post.user_id).username %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= time_calculation(post.created_at) %></h6>

      <%= link_to 'Update', edit_post_path(post), :class => "btn btn-outline-secondary" %>
      <%= link_to 'Delete', post_path(post), :class => "btn btn-outline-secondary",
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <br><br>
  <% end %>

  <%= link_to 'Delete Account', delete_path, :class => "btn btn-outline-secondary", method: :delete, data: { confirm: 'Are you sure?' } %>
